<h2 class="title has-text-centered">Items for sale from <%= @user.username %></h2>
<div class ="items">
<% @items.each do |item| %>
    <div class="item-div">
        <p>
            <% if item.photo.attachment %>
                <%= link_to image_tag(item.photo, class: "items-image"), item_path(item)%>
            <%end%>
        </p>
        <p><%= link_to item.title, item_path(item) %></p>
        <p><%= number_to_currency(item.price)%></p>
        <p class="button is-primary">buy now</p>
    </div>
<% end%>
</div>