<h2 class="title">
Your order
</h2>
<table class="table">
<thead class="thead">
<tr>
<th>Item</th>
<th>Description</th>
<th>Price</th>
</tr>
</thead>
<tbody class="tbody">
<tr class="tr">
<td class="td"><%= @item.title %></td>
<td class="td"><%= @item.description %></td>
<td class="td"><%= number_to_currency @item.price %></td>
</tr>
</tbody>
</table>
<button id="pay-now" class="button is-primary">Checkout now</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
var stripe = Stripe('pk_test_7xWAUX3loAJPLNdVsZo9XRvi00OQ2zV0pP');

function redirectToStripe() {
stripe.redirectToCheckout({
sessionId: '<%= @session.id %>'
}).then(function (result) {
// If `redirectToCheckout` fails due to a browser or network
// error, display the localized error message to your customer
// using `result.error.message`.
});
}
document.querySelector("#pay-now").addEventListener("click",
redirectToStripe)
</script>