<div class="level-item">
    <p class="subtitle is-5"><%= link_to "Kid's World", root_path %></p>

</div>
<div class="level-item">
    <%= link_to "Toys", toys_path %>
</div>

<div class="level-item">
    <%= link_to "Books", books_path %>
</div>

<div class="level-item">
    <%= link_to "Accessories", accessories_path %>
</div>