// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3 1fr);
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas:
        "pic pic pic"
        "pic pic pic"
        "pic pic pic"
        "pic pic pic"
}

.item {
    display: flex;
}

.item-div {
    padding: 10px;
}